p {
    margin: 0;
}

body {
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.spacer {
    flex: 1;
}

.toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: #6299d1;
    color: white;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.toolbar img {
    width: 160px;
    margin: 0 16px;
    position: relative;
    float: right;
}

.ancho-tarea {
    width: 70%;
}

.ancho-opciones {
    width: 30%;
}

.botonCompletado {
    background-color: transparent;
    border: none;
}